* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg, #333, #444);
}

.link{
    color: #e97508;
    text-decoration: none;
}

.link:hover{
    transition: 0.3s;
    color: #c98d56;
}

.container {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.title {
    color: #fff;
    font-size: 36px;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.login-box {
    width: 300px;
    padding: 40px;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    backdrop-filter: blur(10px);
    color: #fff;
    margin: 0 auto;
}

.login-box h2 {
    text-align: center;
    margin-bottom: 30px;
    color: #fff;
}

.input-box {
    position: relative;
    margin-bottom: 30px;
}

.input-box input {
    width: 100%;
    padding: 10px;
    background: transparent;
    border: none;
    border-bottom: 2px solid #fff;
    color: #fff;
    font-size: 16px;
    outline: none;
    transition: 0.3s;
}

.input-box label {
    position: absolute;
    top: 10px;
    left: 10px;
    color: #fff;
    pointer-events: none;
    transition: 0.3s;
}

.input-box input:focus ~ label,
.input-box input:valid ~ label {
    top: -18px;
    left: 0;
    color: #e97508;
    font-size: 16px;
}

button {
    width: 100%;
    padding: 10px;
    border: none;
    background: #e97508;
    color: #fff;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: #e97508;
}

.register-text {
    text-align: center;
    margin-top: 20px;
}

.fade {
    opacity: 0;
    transition: opacity 4.5s ease-in-out !important;
}

.fade.show {
    opacity: 1;
}

