<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Karine Tavares - Personal Trainer</title>
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>
<body>
    <div class="pagina">
        <header>
            <div class="container">
                <h1>Karine Tavares</h1>
                <p>Personal Trainer</p>
            </div>
        </header>
        <section class="about">
            <div class="container">
                <div class="profile">
                    <img src="img/karine3.jpg" alt="Karine Tavares">
                    <div class="bio">
                        <h2>Sobre mim</h2>
                        <p>Olá! Sou Karine Tavares, formada em Educação Física pela Ulbra Porto Alegre. Trabalho como personal trainer, especializada em treinamento funcional, musculação e reabilitação física. Meu objetivo é ajudar você a alcançar seus objetivos de forma saudável e eficiente.</p>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <div class="pagina">
        <section class="servicos">
            <h2>Serviços prestados</h2>
            <div class="container">
                <div class="servico">
                    <img src="img/treino.png">
                    <h3>Treino <br>Personalizado</h3>
                </div>
                <div class="servico">
                    <img src="img/consultoria.png">
                    <h3>Consultoria <br>Online</h3>
                </div>
                <div class="servico">
                    <img src="img/crono.png">
                    <h3>Avaliação <br>Física</h3>
                </div>
            </div>
            <div class="container">
                <div class="servico">
                    <img src="img/biceps.png">
                    <h3>Hipertrofia</h3>
                </div>
                <div class="servico">
                    <img src="img/halter.png">
                    <h3>Condicionamento</h3>
                </div>
                <div class="servico">
                    <img src="img/esteira.png">
                    <h3>Emagrecimento</h3>
                </div>
            </div>
            
        </section>
        
        <section class="schedule">
            <div class="container">
                <h2>Horários Disponíveis</h2>
                <table>
                    <thead>
                        <tr>
                            <th>Segunda</th>
                            <th>Terça</th>
                            <th>Quarta</th>
                            <th>Quinta</th>
                            <th>Sexta</th>
                            <th>Sábado</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>10:00 - 11:00</td>
                            <td>10:00 - 11:00</td>
                            <td>10:00 - 11:00</td>
                            <td>10:00 - 11:00</td>
                            <td>10:00 - 11:00</td>
                            <td>10:00 - 11:00</td>
                        </tr>
                        <tr>
                            <td>15:00 - 16:00</td>
                            <td>15:00 - 16:00</td>
                            <td>15:00 - 16:00</td>
                            <td>15:00 - 16:00</td>
                            <td>15:00 - 16:00</td>
                            <td>15:00 - 16:00</td>
                        </tr>
                        <tr>
                            <td>16:00 - 17:00</td>
                            <td>16:00 - 17:00</td>
                            <td>16:00 - 17:00</td>
                            <td>16:00 - 17:00</td>
                            <td>16:00 - 17:00</td>
                            <td>16:00 - 17:00</td>
                        </tr>
                        <tr>
                            <td>17:00 - 18:00</td>
                            <td>17:00 - 18:00</td>
                            <td>17:00 - 18:00</td>
                            <td>17:00 - 18:00</td>
                            <td>17:00 - 18:00</td>
                            <td>17:00 - 18:00</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </section>
        <h2>Contato</h2>
        <section class="paginafinal">
            <div class="contatos">
                <div class="container" style="font-size:30px; font-style: italic; font-weight: 700;">
                    <span>"Apaixona-se pelo processo de se tornar sua melhor versão."</span>
                </div>
                <div class="container">
                    <div class="contato">
                        <i class="bi bi-whatsapp"></i>
                        <span>(51) 99906-0828</span>
                    </div>
                    <div class="contato">
                        <i class="bi bi-envelope"></i>
                        <span>teste@dominio.com.br</span>
                    </div>
                </div>                
            </div>

        </section>

        <!-- Botão de WhatsApp-->
        <a href="https://wa.me/5551980187026?text=Ol%C3%A1%2C+eu+gostaria+de+mais+informa%C3%A7%C3%B5es." target="_blank"><i id='btnWhats' class="bi bi-whatsapp"></i></a>

        <footer>
            <div class="container">
                <p>&copy; 2024 Karine Tavares. Todos os direitos reservados.</p>
            </div>
        </footer>
    </div>

</body>
</html>
