<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GymPro - Plataforma de Personal Trainer</title>
    <link rel="stylesheet" href="index.css">
    <!-- Inclua Vue.js via CDN -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <div class="container">
        <header>
            <h1 class="title">GymPro</h1>
            <nav class="menu">
                <ul>
                    <li><a href="login">Login</a></li>
                    <li><a href="registro/">Registrar-se</a></li>
                </ul>
            </nav>
        </header>
        <section class="main-content">
            <div class="description">
                <p>Bem-vindo à plataforma GymPro, onde você pode encontrar personal trainers e agendar suas aulas!</p>
            </div>
            <div class="features">
                <h2>Funcionalidades Principais</h2>
                <div class="cards">
                    <div class="card">
                        <span>Agendamento de Aulas</span>
                    </div>
                    <div class="card">
                        <span>Gestão de Alunoss</span>
                    </div>
                    <div class="card">
                        <span>Visualização de Agenda</span>
                    </div>
                    <div class="card">
                        <span>Notificações</span>
                    </div>
                </div>

            </div>
        </section>
        <footer>
            <p>&copy; 2024 GymPro - Todos os direitos reservados</p>
        </footer>
    </div>
</body>
</html>
